<h2 mat-dialog-title>Mise à jour du mot de passe</h2>
<div mat-dialog-content>
  <p>Pour votre sécurité, vous devez changer votre mot de passe.</p>
  <form [formGroup]="passwordForm">
    <mat-form-field appearance="fill">
      <mat-label>Ancien mot de passe</mat-label>
      <input matInput type="password" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput type="password" formControlName="newPassword">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirmer le nouveau mot de passe</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>
  </form>
  <div *ngIf="passwordForm.errors?.['passwordsMismatch']" class="error-message">
    Les mots de passe ne correspondent pas.
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onUpdatePassword()" color="primary" [disabled]="passwordForm.invalid">Mettre à jour</button>
</div>