<div mat-dialog-content class="dialog-content">
  <h2 class="dialog-title">Contributions pour l'Événement</h2>
  <div class="contribution-list" *ngIf="data.contributions.length; else noContributions">
    <div class="contribution-item" *ngFor="let contribution of data.contributions">
      <span class="member-name">{{ contribution.description }} {{ contribution.description }}</span>
      <span class="amount">{{ contribution.montantMin }} FCFA</span>
    </div>
    <div class="total-row">
      <strong>Total des contributions :</strong> <span>{{ data.total }} FCFA</span>
    </div>
  </div>
  <ng-template #noContributions>
    <p class="no-data">Aucune contribution pour cet événement.</p>
  </ng-template>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="dialogRef.close()" color="primary">Fermer</button>
</div>