<h1 mat-dialog-title>Modifier la photo de profil</h1>
<div mat-dialog-content class="dialog-content">
  <div class="image-preview-container">
    <img [src]="imagePreviewUrl || '../assets/default-profile.jpg'" alt="Aperçu de la photo de profil" class="image-preview">
  </div>
  <div class="file-input-container">
    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" accept="image/*">
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      <mat-icon>folder_open</mat-icon>
      Choisir une photo
    </button>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="accent" [disabled]="!selectedFile" (click)="onSave()">Enregistrer</button>
</div>