<div class="contribution-container">
  <h1>Enregistrer une Contribution Individuelle</h1>
  
  <mat-card class="table-card">
    <mat-card-header>
      <mat-card-title>Nouvelle Contribution</mat-card-title>
      <mat-card-subtitle>Associez une contribution à un membre et un montant</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <div class="create-row">
        <mat-form-field appearance="outline">
          <mat-label>Contribution</mat-label>
          <!-- <mat-select [(ngModel)]="nouvelleContributionIndividuelle.contribution" required>
            <mat-option *ngFor="let contribution of contributions" [value]="contribution">
              {{ contribution.nomContribution }}
            </mat-option>
          </mat-select> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Membre</mat-label>
          <mat-select [(ngModel)]="nouvelleContributionIndividuelle.idMembre" required>
            <mat-option *ngFor="let membre of membres" [value]="membre">
              {{ membre.nom }} {{ membre.prenom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Montant donné</mat-label>
          <input matInput type="number" [(ngModel)]="nouvelleContributionIndividuelle.montant" required>
        </mat-form-field>

        <div class="action-buttons">
          <button mat-raised-button color="primary" (click)="saveContributionIndividuelle()">
            Enregistrer
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>