<div mat-dialog-content class="preview-content">
  <img [src]="data.mediaUrl" alt="Aperçu du média" class="preview-image" *ngIf="data.mediaUrl.includes('.jpg') || data.mediaUrl.includes('.png') || data.mediaUrl.includes('.jpeg')">
  <video [src]="data.mediaUrl" controls class="preview-video" *ngIf="data.mediaUrl.includes('.mp4') || data.mediaUrl.includes('.mov')"></video>
  <p *ngIf="!data.mediaUrl.includes('.jpg') && !data.mediaUrl.includes('png') && !data.mediaUrl.includes('.jpeg') && !data.mediaUrl.includes('.mp4') && !data.mediaUrl.includes('.mov')" class="error-message">
    Type de média non pris en charge.
  </p>
</div>
<div mat-dialog-actions class="preview-actions">
  <button mat-button (click)="closeDialog()" color="warn">Fermer</button>
</div>