<!-- <div class="calendar-content1"> -->
<h2 mat-dialog-title>Calendrier des Matchs - {{ data.jourDeMatch }}</h2>
<mat-dialog-content class="calendar-content">
  <div class="match-grid">
    <div *ngFor="let match of data.matches" class="match-card"
         [title]="getMatchDetails(match)"
         (mouseover)="onMouseOver(match)">
      <div class="match-date">{{ match.dateMatch | date:'dd/MM/yyyy' }}</div>
      <div class="match-adversaire">{{ match.adversaire }}</div>
      <div class="match-status">
        <span *ngIf="isMatchPlayed(match.dateMatch)">↓</span>
        <span *ngIf="isMatchMissed(match.dateMatch)" style="color: red;">❌</span>
        <span *ngIf="isMatchFuture(match.dateMatch)" style="color: green;">⭕</span>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Fermer</button>
</mat-dialog-actions>
<!-- </div> -->