 h2 {
      color: #1a3c6d;
      font-weight: 600;
    }
    p {
      font-size: 1rem;
      color: #333;
    }
    mat-dialog-actions {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }
    .mat-mdc-raised-button.mat-primary {
      background-color: #50c4b7;
    }