<div class="notifications-container">
  <h1 class="page-title">Notifications</h1>
  <mat-card class="notifications-card">
    <mat-card-content>
      <div class="notification-list" *ngIf="notifications.length; else noNotifications">
        <mat-list>
          <mat-list-item *ngFor="let notification of notifications">
            <mat-icon matListIcon>notifications</mat-icon>
            <div matLine>{{ notification.message }}</div>
            <div matLine><small>{{ notification.date | date:'dd/MM/yyyy HH:mm' }}</small></div>
          </mat-list-item>
        </mat-list>
      </div>
      <ng-template #noNotifications>
        <p class="no-notifications">Aucune notification pour le moment.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>