<div class="dashboard">
  <h1>Statistiques Personnelles</h1>
  <div *ngIf="membre" class="stats">
    <mat-card>
      <mat-card-title>Buts</mat-card-title>
      <mat-card-content>{{ membre.buts }}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Passes</mat-card-title>
      <mat-card-content>{{ membre.passes }}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Cartons</mat-card-title>
      <mat-card-content>{{ membre.cartons }}</mat-card-content>
    </mat-card>
  </div>
  <h2>Présences aux Matchs</h2>
  <mat-table [dataSource]="presences">
    <ng-container matColumnDef="dateMatch">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let presence">{{ presence.match.dateMatch }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="typeMatch">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let presence">{{ presence.match.typeMatch }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lieu">
      <mat-header-cell *matHeaderCellDef>Lieu</mat-header-cell>
      <mat-cell *matCellDef="let presence">{{ presence.match.lieu }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="buts">
      <mat-header-cell *matHeaderCellDef>Buts</mat-header-cell>
      <mat-cell *matCellDef="let presence">{{ presence.buts }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="passes">
      <mat-header-cell *matHeaderCellDef>Passes</mat-header-cell>
      <mat-cell *matCellDef="let presence">{{ presence.passes }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>